# MySQLサーバーの設定
[mysqld]
# 新規DB・テーブル作成時のデフォルト文字コード
character-set-server=utf8mb4
# 新規DB・テーブル作成時のデフォルト照合順序
collation-server=utf8mb4_unicode_ci
# クライアント接続時に自動実行されるコマンド（文字コード設定）
init-connect='SET NAMES utf8mb4'
# クライアントからの文字コード設定の要求を無視し、サーバーの設定を強制する
skip-character-set-client-handshake

# MySQLクライアントのデフォルト設定
[client]
# mysql コマンドラインクライアントなどが使用するデフォルト文字コード
default-character-set=utf8mb4

# mysql コマンドラインツールの設定
[mysql]
# mysql コマンドライン専用の文字コード設定
default-character-set=utf8mb4
